.multi-selection-container {
  .selection-container {
    width: 200px;
    height: 15px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    padding: 4px;
    .selection-container-body {
      width: calc(100% - 22px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      float: left;
    }
    .dropdown-icon {
      float: right;
      margin-top: -2px;
      border-left: 1px solid #b4b4b4;
      width: 20px;
      img {
        margin-left: 7px;
      }
    }
  }
}